@import "styles/library";
@import "styles/mixins";

.MainBody {
  background-color: $Base;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  @include beMobile() {
    padding: 0;
  }
}
