@import "/styles/library";

.MainBody {
  background-color: $Base;
  display: flex;
  width: 100%;

  &_Left {
    @extend .Font;
    padding-top: 40px;
    padding-left: 40px;
    background-color: $Base;
    width: 40%;
  }

  &_Right {
    @extend .Font;
    padding-top: 40px;
    padding-right: 40px;
    background-color: $Level1;
    width: 60%;
  }
}
